<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lanchefacil">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Lanche Fácil"
        android:supportsRtl="true"
        android:theme="@style/Theme.LancheFacil">

        <activity android:name=".ResumoPedidoActivity" />
        <activity android:name=".PedidoActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


    </application>

</manifest>
